.App {
	text-align: center;
}

.main-bg {
	height: 300px;
	background-image: url('./image/bg.png');
	background-size: cover;
	background-position: center;
}

img {
	width: 80%;
}

.start {
	transition: opacity 0.5s;
	opacity: 0;
}

.end {
	opacity: 1;
}
