@font-face {
    font-family: test;
    src: url(/font/NanumSquareB.woff);
}

div {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: 'test';   
}

.cart-backgroud {
    width: 100%;
    background-color: skyblue;
    padding: 20px;
}

.title {
    width: 70%;
    max-width: 600px;
    margin: auto; 
    text-align: left;
    font-size: 20px;  
    color: darkblue;
    margin-bottom: 20px;
}

thead td{
    text-align: center;
    color: skyblue;
    padding: 5px;
    font-size: 10px;
}

.cart {
    background-color: white;
    margin: auto;
    width: 70%;
    max-width: 600px;
    border-radius: 5px;
    border-collapse: collapse;
    padding: 5px;
}

.cart td {
    border-bottom: 1px solid skyblue;    
}

.cart img {
    width: 100px;
    height: 100px;
}

.amount {
    text-align: right;
    width: 75px;
    color: skyblue;
}

.price{
    width: 100px;
    color: skyblue;
    text-align: center;
}

.total{
    width: 100px;
    color: darkblue;
    text-align: center;
}

tbody p {
    color: skyblue;
    margin-top: 5px;
}

tbody h3 {
    margin-bottom: 5px;
}

.last {
    text-align: right;
    padding: 20px;
    font-size: 20px;
    color: darkblue;
}

.charge {   
    margin: auto;
    width: 70%;
    max-width: 600px;
    height: 100px;
    margin-top: 10px;
}

.edit-cart {
    float: left;
    color: darkblue;
    font-size: 5px;
}

.button {   
    float: right;
    
}

.charge-button {    
    background-color: darkblue;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 5px;  
    cursor: pointer;  
}

.charge-button:hover {
    background-color: cadetblue;
}

.charge-button:focus {
    background-color: red;
}

.charge-button:active {
    background-color: skyblue;
}

.input-test {
    font-size: 20px;    
    clear: both;
}

.input-test:focus {
    border: 5px solid red;
}

